#line {
    width: 80px;
    height: 80px;
    background-color: #ff00005e;
    position: fixed;
}

#path {
    z-index: 999;
    width: 100vw;
    height: 20vh;
    position: absolute;
}


.landing-wrapper {
    padding: 2em;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 6em;
    overflow: hidden;
    /* background-color: rgba(133, 133, 133, 0.267); */
}

.landing-wrapper h3 {
    margin: .5em 0;
}

.title-name {
    font-size: 6em;
    font-family: Cabin;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}

.trade-wrapper {
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-size: 1.5em;
    font-family: Cabin;
    text-transform: uppercase;
    color: rgb(255, 255, 255);

}

.social-link-wrapper {
    display: flex;
    margin: 0 0 4em 0;
}

.social-link {
    height: 3em;
    width: 3em;
    background-color: rgb(255, 255, 255);
    margin: 0 .5em;
}

.social-link:first-child {
    margin-left: 0;
}