:root {
    --ek-white: #F3FAEF;
    --ek-main: #27b9ad;
    --ek-accent: #67e9e0;
    --ek-dark: #1e4d48;
}

.ek-wrapper {
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: -5;
    font-family: Cabin;
}

.ek-wrapper a {
    color: var(--ek-dark);
    text-decoration: none;
}

.ek-wrapper p {
    margin: 0;
}

// Nav

.ek-nav {
    background-color: var(--ek-accent);
    // height: 15em;
    width: 100%;
    // position: fixed;
    top: 0;
    z-index: 10;
    position: fixed;
    // padding: 0 3em;
}

.main-nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 3em;
}

.ek-logo {
    height: 3em;
}

.cart-and-account-wrapper {
    display: flex;
}

.cart-and-account-wrapper img {
    height: 3em;
    margin: 0 1em;
}

.search-wrapper {
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ek-search {
    border: none;
    padding: 0em 1em;
    height: 100%;
    width: 70%;
}

.search-button {
    background-color: var(--ek-dark);
    border: none;
    height: 100%;
    width: 3em;
}

.search-button img {
    height: 50%;
}

.sub-nav {
    display: flex;
    justify-content: flex-start;
    background-color: var(--ek-main);
    padding: .5em 0;
    position: absolute;
    bottom: -2em;
    width: 100%;
}

.sub-nav a {
    color: white;
    margin: 0 3em;
    text-transform: uppercase;
}

// Product

.ek-product-wrapper {
    padding: 10em 3em 3em 3em;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-column-gap: 1em;
}

.ek-product-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.breadcrumbs {
    color: var(--ek-main);
    margin: .2em 0;
    font-size: 1em;
}

.ek-product-images {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    // height: 50%;
    // max-height: 90%;
    margin: 1em 0 2em 0;
}

.sub-images {
    display: flex;
    justify-content: space-between;
}

.sub-images img {
    height: 3em;
    width: 3em;
    object-fit: cover;
    border: 1px solid var(--ek-dark);
    padding: .5em;
}

.ek-product-information {
    background-color: white;
    padding: 1.5em;
}

.product-title {
    margin-top: 0;
    color: var(--ek-dark);
    font-size: 3em;
}

body .product-brief-description {
    color: var(--ek-main);
    margin: 1em 0;
}

.product-options label {
    margin: 1.5em 0;
}

.option {
    display: flex;
    flex-direction: column;
}

.ek-product-add-to-cart {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.cart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: var(--ek-accent);
    border: 2px solid var(--ek-accent);
    padding: 2em;
    position: sticky;
    // right: 0;
    top: 30%;
    // height: 3em;
    width: 70%;
    box-shadow: 0 0 20px rgba(209, 209, 209, 0.411);
}

.cart-wrapper p {
    font-size: 1.5em;
}

.quantity-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 3em 0;
}

.quantity-wrapper input {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 3em;
    width: 3em;
}

.quantity-wrapper input:focus {
    border: none;
    outline: none;
}

.quantity-wrapper button {
    background-color: var(--ek-main);
    color: var(--ek-dark);
    width: 1.5em;
    height: 1.5em;
    border: none;
    font-size: 1.5em;
    border-radius: 50%;
}

.add-to-cart-btn  {
    background-color: var(--ek-main);
    color: white;
    border: none;
    width: 100%;
    font-size: 1.5em;
    padding: .5em 1em;
    border-radius: 100px;
    margin: .5em 0;
}

.add-to-cart-btn:hover {
    background-color: var(--ek-dark);
}

.save-for-later-btn {
    color: var(--ek-dark);
    background-color: transparent;
    border: none;
    font-size: 1.15em;
}

// More information

.ek-more-information-block {
    padding: 3em;
}

// More Like This, Customers also Bought

.ek-similar-products-block, .ek-also-bought-block {
    padding: 3em;
}

.ek-block-title {
    font-size: 3em;
}

.ek-more-products-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ek-more-products-wrapper .product {
    height: 20em;
    width: 15%;
    background-color: var(--ek-accent);
    border-radius: 10px;
}

// Newsletter

.ek-newsletter-block {
    padding: 3em;
    background-color: var(--ek-main);
    display: flex;
    justify-content: space-evenly;
}

.ek-newsletter-block h3 {
    color: white;
    font-size: 2em;
    margin: 0;
}

.ek-newsletter-block button {
    background-color: var(--ek-dark);
    color: white;
    border: none;
    font-size: 1.5em;
    padding: .5em 1em;
    width: 20%;
}

// Footer

.ek-footer-block {
    padding: 3em;
}

.ek-footer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.ek-footer ul {
    list-style: none;
}

.ek-footer ul li:first-child {
    font-weight: 900;
}

// Notice

.ek-notice-block {
    padding: 3em;
    background-color: var(--ek-dark);
    display: flex;
    justify-content: space-around;
    color: var(--ek-accent);
}