:root {
  --slate: rgb(40, 41, 39);
  --green: rgb(110, 233, 96);
  --yellow: rgb(239, 237, 113);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--slate);
}

html {
  scroll-behavior: smooth;
}