.nav-link-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    margin: 1em 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

.nav-link a {
    padding: 0 2em;
    color: rgb(255, 255, 255)  !important;
    text-decoration: none;
    font-family: Cabin;
}

.nav-handle {
    height: 2em;
    width: 4em;
    background-color: rgb(255, 255, 255);
}